<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">My App</a>
      </header>


      </ul>
      <!-- sidebar list -->
      <ul class="nav nav-list pointer">
        <li>
          <a data-type="category">
            <i class="zmdi zmdi-view-dashboard"></i>Категория
          </a>
        </li>
        <li>
          <a data-type="group">
            <i class="zmdi zmdi-link"></i> Группа
          </a>
        </li>
        <li>
          <a data-type="brand">
            <i class="zmdi zmdi-widgets"></i> Бренд
          </a>
        </li>
        <li>
          <a data-type="addProduct">
            <i class="zmdi zmdi-calendar"></i> Добавить товар
          </a>
        </li>

        <li>
          <a data-type="">
            <i class="zmdi zmdi-settings"></i> Services
          </a>
        </li>
        <li>
          <a href="http://localhost:3000" data-type="">
            <i class="zmdi zmdi-comment-more"></i> Back to store
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            
            <li><h2 id="titleDoc">Check an action</h2></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="category_wrap d-none">
          <h1>Категории</h1>

          <ul class="list-group">
            <% categories.forEach( category => { %>
            <li class="list-group-item" data-category="<%= category.id%>"><%=category.name %></li>
            <% }) %>
          </ul>
          <!-- Category -->
          <h3>Add the new Category</h3>
          <form name="category" class="col-6  mb-2">

            <div class="input-group  mb-3">
              <input type="text" class="form-control addNewCategory" placeholder="add new category"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <button type="button" class="btn btn-primary addCategory">add Category</button>
          </form>
        </div>
        <!-- group -->
        <div class="group_wrap d-none">

          <form name="group" class="col-6 mb-3">
            <h1>Категории</h1>
            <select class="form-select categoryListSelect" aria-label="Default select example">
              <option selected>Select a category</option>
              <% categories.forEach( category => { %>
              <option value="<%=category._id%>"><%=category.name%></option>
              <% }) %>
            </select>

            <h3>Grpoups</h3>
            <div class="input-group mb-3">
              <input type="text" class="form-control groupInput" placeholder="add new group's name" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control searchNameGroupInput" placeholder="add search name" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary addGrpoup">add Grpoup</button>
          </form>
        </div>
        <!-- Brand -->
        <div class="brand_wrap d-none">
          <h2>Brand</h2>
          <form name="brand" class="col-6  mb-3">
          
          <h3>Выбрать категорию бренда</h3>
          <ul class="list-group brand-category">
            <% categories.forEach( category => { %>
            <li class="list-group-item pointer" data-category="<%= category.id%>"><%=category.name %></li>
            <% }) %>
          </ul>
          <h3>Выбрать группу бренда</h3>
          <ul class="list-group brand-group">
          </ul>
          <div class="input-group mb-3 row">
            <input name="group_id" type="text" class="col-4 form-control brand-groupId" placeholder="selected group ID" aria-label="group"
              aria-describedby="basic-addon1">
              <span class="col-1 input-group-text pointer clearGroupId" id="basic-addon2">clear input</span>
          </div>
          <h3>Добавить новый бренд</h3>
          <div class="input-group mb-3">
            <input type="text" class="form-control brandInput" placeholder="add new brand" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
            <button type="submit" class="btn btn-primary addBrand">add Brand</button>
          </form>
        </div>

<!-- product -->
        <div class="productBlock d-flex d-none">
          <div class="selectProduct col-5">
            <h3>Select a product</h3>
            <select class="form-select selecCategory mb-3" aria-label="Default select example">
              <option selected>select the category</option>
              <% categories.forEach( category => { %>
              <option value="<%= category.id%>"><%=category.name %></option>
              <% }) %>
            </select>

            <ul class="list-group selectGroup">

              <!-- <option value="category.id">category.name</option> -->

            </ul>
          </div>

          
          <div class="add_productForm col-6 offset-1">
            <!-- General -->
            <form name="general">
              <h3>New product</h3>
    
              <div class="input-group flex-nowrap">
                <input hidden type="text" name="type" class="form-control modelInput" placeholder="type" aria-label="model"
                  aria-describedby="addon-wrapping">
              </div>
              <h5>model:</h5>
              <div class="input-group flex-nowrap">
                <input type="text" name="model" class="form-control modelInput" placeholder="model" aria-label="model"
                  aria-describedby="addon-wrapping">
              </div>
               
              <select name="isActive" class="form-select isActiveLaptop mb-3" aria-label="Default select example">
                <option value="true">в наличии</option>
                <option value="false">нет в наличии</option>
              </select>
            
              <select name="isSale" class="form-select isSaleLaptop mb-3" aria-label="Default select example">
                <option value="true">есть скидка</option>
                <option value="false">нет скидки</option>
              </select>
            
              
              <select name="brand" class="form-select selectBrand mb-3" aria-label="Default select example">
                <option selected>select the brand</option>
                
              </select>
            
              <input hidden name="group" type="text" class="form-control groupInput mb-3" placeholder="Enter group id"
              aria-label="search" aria-describedby="button-addon2" value="6141f0649443fc4bb8506a57">
            
              <h5>Description</h5>
              <textarea name="description" class="form-control laptopDescription mb-3" aria-label="With textarea"></textarea>
            
              <div class="inputPhotoContainer">
                <div class="inputPhoto-1">
                  <p>
                  <span>Загрузить фото</span> #
                  <span class="PhotoAmaunt"> 1</span>
                  </p>
                  <div class="input-group d-flex flex-nowrap mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="uploaded_file">
                    <button class="btn btn-outline-secondary addOneElse" data-num="1">+ one else</button>
                  </div>
                </div>
              </div>
              <input name="price" type="text" class="form-control priceInput mb-3" placeholder="Enter price in cents"
              aria-label="search" aria-describedby="button-addon2">
            </form>
<!-- Features -->
            <form name="features">
              <button type="submit" class="btn btn-primary"> submit </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="javascripts/admin_sidebar.js"></script>
  <script src="javascripts/admin_product.js"></script>
  <script src="javascripts/admin.js"></script>


</body>

</html>