<% layout('../layouts/userPanel') -%>
<% script("/javascripts/userPanel/album.js") -%>

<div class="wrapper-album d-flex flex-column" style="width: 100%;" data-uid="<%=auth.uid %>"
  data-albumID="<%=auth.albumID %>">

  <header class="header-content lightDark d-flex flex-column">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="title-content"><%= auth.albumName %></h1>
      <input class="changeTitleInput hidden my-5 rounded" type="text" name="name"
        style="border: none; background-color: #45455c; padding: 5px;">
      <span><i class="iconChangeTitle mx-5 pointer fas fa-caret-down"></i></span>
    </div>
    <hr style="margin-top: 0">
    <div class="warap-header-options d-flex flex-wrap mx-5">
      <div class="wrapper-option" style="max-width: 25%;">
        <div class="d-flex align-items-center">
          <i class="fal fa-comments"></i>
          <div class="d-flex align-items-center p-3">
            <h4>Description:</h4>
            <span><i class="iconChangeDescription conRelative mx-3 pointer fas fa-caret-down"></i></span>
          </div>
        </div>
        <div style="max-width: 100%; overflow: hidden">
          <p class="descriptionContent"><%= description %></p>
          <textarea class="changeDescriptionInput hidden my-2 rounded" type="text" name="description"
            style="border: none; background-color: #45455c; padding: 5px; position: absolute"></textarea>
        </div>
      </div>
      <div class=" wrapper-option">
        <div class="d-flex align-items-center pointer copyLink">
          <i class="fal fa-clock"></i>
         <div class="d-flex align-items-center p-3">
            <h4>Event date:</h4>
            <span><i class="iconChangeEvent conRelative mx-3 pointer fas fa-caret-down"></i></span>
         </div>
        </div>
        <h5 id="eventDate" class="px-3"><%= eventDate %></h5>
        <input class="changeEventInput hidden my-2 rounded" type="text" name="eventDate"
        style="border: none; background-color: #45455c; padding: 5px;">
      </div>
      <div class=" wrapper-option" style="max-width: 100%;">
          <div class="d-flex align-items-center pointer copyLink">
            <i class="fal fa-money-bill-wave"></i> 
           <div class="d-flex align-items-center p-3">
              <h4>Check currency:</h4>
              <span><iconRelative class=" mx-3 pointer fas fa-caret-down"></i></span>
           </div>
          </div>
          <select class="form-select  currencyAlbum" name="currency" style="width: 90%" data-currency="<%= currency %>">
            <option value="USD">USD</option>
            <option value="EU">EU</option>
            <option value="UAH">UAH</option>
          </select>
        </div>
      <div class=" wrapper-option">
        <div class="d-flex align-items-center pointer copyLink">
          <i class="mx-3 fal fa-link"> </i> 
          <h4>Copy link:</h4>
        </div>
        <h5 id="copyLink" class="px-3">http://localhost:3000/albumLink/<%=auth.albumID %></h5>
      </div>

    
      
    </div>
    <!-- <form name="confirmChanges"> -->
      <!-- <input type="text" name="title">
      <input type="text" name="description">
      <input type="text" name="eventDate">
      <input type="text" name="currency">
      <input type="text" name="price"> -->
      <button type="button" class="btn btn-success mt-3 mx-5 confirmChanges">Confirm changes</button>
    <!-- </form> -->
  </header>
  <div class="photo-container d-flex justify-content-start" style="flex-wrap: wrap; height: 100%; padding: 20px;">
    <input type="file" id="replacePhoto" name="replacePhoto" accept=".jpg, .jpeg, .png, .webp" hidden>
    <% if(photos){%>
    <%photos.forEach(photo => { %>
      <figure class="figure growUp" style=" margin: 5px" data-album_id="<%= auth.albumID %>">
        <div class="iconImgGroup">
          <span><%= photo.price%> <%= currency %></span>
          <label data-photo_id="<%= photo._id %>">
            <i class="delIcon fal fa-trash-alt"></i>
            <!-- steer -->
            <div class="steer steer-delete">
              <span>Delete photo</span>
              <div class="steer-tail"></div>
            </div>
          </label>
          <label for="replacePhoto"  data-photo_id="<%= photo._id %>">
            <i class="replaceIcon fal fa-exchange"></i>
            <!-- steer -->
            <div class="steer steer-replace">
              <span>Replace photo</span>
              <div class="steer-tail"></div>
            </div>
          </label>
        </div>
        <img src="<%= photo.link %>" class="img-fluid rounded fitImg"  alt="">
        <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
      </figure>
  
    <% }) %>
    <% } %>
  
    <form name="sendPhoto" class="sendPhoto" style=" margin: 5px">
<!-- check price  -->
      <div class="rounded px-3 priceBlock hidden">
        <div>
          <h4>Price:</h4>
          <div class="btn-group d-flex my-3" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger samePrice">same</button>
            <button type="button" class="btn btn-success diffPrice">different</button>
          </div>
          <div class="mb-3 hidden priceInp">
            <label for="price" class="form-label">Price:</label>
            <input name="price" type="number" class="form-control" id="price" aria-describedby="price" value="0">
          </div>
          <button type="submit" class="btn myDarkColor confirmPriceBtn">Confirm</button>
        </div>
      </div>

      <input type="text" name="uid" value="<%= auth.uid %>" hidden>
      <input type="text" name="albumName" value="<%= auth.albumName %>" hidden>
      <input type="text" name="albumID" value="<%= auth.albumID %>" hidden>
      <div style="color: #868e96; height: 300px; width: 300px;">
        <label for="photosInput" class="rounded addPhoto bg-darkd-flex">
          <div class="rounded pointer d-flex flex-column align-items-center justify-content-center"
            style="color: #868e96; height: 300px; width: 300px">
            <h3><i class="far fa-plus"></i></h3>
            <h1>Add photo</h1>
          </div>
          <input type="file" multiple id="photosInput" name="uploaded_file" accept=".jpg, .jpeg, .png, .webp" hidden>
        </label>
      </div>
    </form>
  </div>
</div>